.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, rgb(215 0 215 / 100%) 0%, #ff0062ff 100%);
}

.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 100px;
    position: relative;

    &:before {
        content: 'DAY 02';
        display: block;
        min-width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 4px;
        opacity: 0.2;
        text-align: center;
        font-size: 88px;
        font-weight: bolder;
    }
}

.calendar {
    min-height: 580px;
    width: 900px;
    border-radius: 4px;
    background: linear-gradient(180deg, rgb(215 0 215 / 750%) 0%, #ff0062dd 100%);
    position: relative;
    padding: 100px 160px 48px 240px;
    
    &:before {
        content: '';
        display: block;
        pointer-events: none;
        height: 100%;
        width: 100%;
        background-image: url('./calendar-bg.avif');
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 4px;
        opacity: 0.2;
    }
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 48px;

    button {
        background: none;
        border: none;
        outline: none;
        color: #ffffff77;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            color: #fff;
        }
    }

    .current-month-name {
        font-size: 48px;
        font-weight: bold;
    }

    .arrow {
        font-size: 32px;
        color: #ffffff;
    }
}

.grid{
    display: grid;
    grid-template-columns: repeat(7, 36px);
    justify-content: space-between;
}

.day-name-row {
    margin-bottom: 24px;

    >div{
        font-size: 14px;
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
    }
}


.day-number {
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;
    color: #fff;
    margin-bottom: 12px;
    cursor: pointer;

    &:hover {
        background-color: #ffffff55;
    }

    &.today {
        background-color: #fff;
        color: rgb(215 0 215 / 750%);
        font-weight: bold;
    }

    &.extra-date {
        opacity: 0.3;
        pointer-events: none;
    }

    &.event-day {
        position: relative;

        &:after {
            content: '';
            display: inline-block;
            height: 6px;
            width: 6px;
            position: absolute;
            bottom: -8px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50%;
            background-color: green;
        }
    }
}

.years {
    position: absolute;
    top: 50%;
    right: 0;
    height: 80%;
    width: 120px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    transform: translate(50%, -50%);
    border-radius: 4px;
}

.year-navigation {
    padding: 12px 24px;
    text-align: center;
    font-size: 32px;
    line-height: 26px;
    color: #ff0062ff;
    cursor: pointer;
}

.years-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.year {
    display: block;
    width: 100%;
    height: 40.44px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 6px 24px;
    font-weight: bold;
    font-size: 18px;
    color: #ff0062ff;

    &.active-year {
        font-size: 24px;
        position: relative;

        &:before, &:after {
            content: '';
            display: block;
            pointer-events: none;
            height: 2px;
            width: 12px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: #ff0062ff;
            opacity: 0.5;
        }

        &:before{
            left: 18px;
        } 
        &:after {
            right: 18px;
        }

        &>div{
            transform: none!important;
        }
    }
}

.events {
    position: absolute;
    top: 50%;
    left: 0;
    height: 80%;
    width: 240px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

.profile-picture {
    height: 84px;
    width: 84px;
    border-radius: 50%;
    margin: -42px auto 24px auto;
    border: 4px solid #fff
}

.events-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.event {
    padding: 12px 24px;
}

.event-time {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
    color:  rgb(215 0 215 / 750%);
}

.event-title {
    font-size: 18px;
    margin-bottom: 6px;
    color: #ff0062ff
}

.event-description {
    color: #848484;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 6px;
}

.place {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #848484;
    font-size: 13px;
}

.marker {
    width: 16px;
    height: 16px;
    
    path{
        fill: #848484
    }
}


.no-events {
    padding: 12px 24px;
    color: #848484;
    font-style: italic;
}